<!DOCTYPE html>
<html>
  <head>
    <title>MSM</title>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  </head>

  <body>

    <nav>
      <ul>
          <li>
            <a href="/user_sign_in">
              Sign in
            </a>
          </li>
          <li>
            <a href="/user_sign_up">
              Sign up
            </a>
          </li>
        <li>
          <a href="/">
            Home
          </a>
        </li>
      </ul>
    </nav>


  <body>
    <%= yield %>
  </body>
</html>
